* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: rgb(236, 195, 195);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background:	rgb(195, 236, 212);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    animation: fadeIn 1s ease;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

.file-button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    resize: vertical;
    min-height: 100px;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgb(183, 60, 60);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: rgb(145, 47, 47);
}

button {
    margin-top: 20px;
    padding: 12px;
    background: rgb(183, 60, 60);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: rgb(145, 47, 47);
}

#mensaje {
    margin-top: 15px;
    color: #2ecc71;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#mensaje.visible {
    opacity: 1;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    textarea {
        min-height: 80px;
    }

    button {
        padding: 10px;
    }
}
