<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Formulario de Contacto</h2>
    <form id="registerForm">
        <label for="usr">Usuario:</label>
        <input type="text" id="usr" name="usr" required>
    
        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" required>
    
        <input type="submit" value="Enviar">
    </form>
    
    <p id="message" style="color: green; display: none;">Usuario registrado con éxito!</p>
    
    <h2>Listado de Personas Registradas</h2>
    <ul>
        <% if (personas && personas.length > 0) { %>
            <% personas.forEach(persona => { %>
                <li>Usuario: <%= persona.usr %></li>
            <% }); %>
        <% } else { %>
            <li>No hay personas registradas.</li>
        <% } %>
    </ul>
    
    <script src="/js/script.js"></script>
</body>
</html>