<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
</head>
<body>
    <h2>Formulario de Contacto</h2>
    <form action="/submit" method="post">
        <label for="usr">Usuario:</label>
        <input type="text" id="usr" name="usr" required>

        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" required>

        <input type="submit" value="Enviar">
    </form>

    <a href="/persona">Ver listado de personas</a>
</body>
</html>
